*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

body {
  font-family: "Metropolis";
  overflow-x: hidden;
}
/* Menus (Blog, Nosotros, home, etc) */
.menu {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Logo */
.logo {
  font-size: 35px;
  font-weight: bold;
  color: rgb(10, 10, 10);
  padding: 0 80px;
}
/* Menu de navegacion */
.menu-items {
  display: flex;
  list-style: none;
  margin-right: 20px;
}
/* Item de menu */
.menu-items li {
  border-radius: 10px;
  margin: 0 5px;
}
/* Item de menu nombres (Home, blog, etc) */
.menu-items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: #1d1d1b;
  position: relative;
}
/* Items de menu despues de pasar el cursor */
.menu-items li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.1rem;
  background: #ff80cc;
  transition: 0.5s;
}

.menu-items li:hover a {
  color: #3ecaed;
}

.menu-items li:hover a::before {
  width: 100%;
}

.menu-items li:hover a::after {
  width: 100%;
}

/* Botones */
.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: #3ecaed;
  cursor: pointer;
  display: none;
}
/* Como se vera el menu */
ul.show {
  top: 65px;
}



.text_encabezado_1 {
  align-items: center;
  align-content: center;
}

.text {
  margin-top: 50px;
  margin-left: 130px;
  width: 450px;
  font-size: 40px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: bold;
}

.pp_txt {
  margin-top: 15px;
  margin-left: 130px;
  font-size: 22px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  color: #FF80CC;
}

.pp_text2 {
  width: 600px;
  margin-top: -129px;
  margin-left: 750px;
  font-size: 23px;
  line-height: 25px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  color: #575756;
}



.mapa {
  position: relative;
  margin-top: 60px;
  margin-left: 610px;
}
.caja_ {
  margin-left: 310px;
  width: 300px;
  height: 460px;
  background-color: #FF80CC;
}
.caja {
  margin-top: -480px;
}
.text_mapa {
  position: absolute;
  top: 500px;
  left: 100px;
}
.pp_datos {
  font-size: 35px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: bold;
  
  margin-left: 240px;
  margin-top: -120px;
}
.pp_datos2 {
  font-style: 15px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  color: #575756;

  margin-left: 240px;
  margin-top: 35px;
  width: 180px;
}
.pp_datos3 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  color: #575756;

  margin-left: 240px;
  margin-top: 35px;
}
.pp_datos4 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  color: #575756;

  margin-left: 240px;
}
.pp_datos5 {
  font-size: 15px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  color: #575756;

  margin-left: 240px;
  margin-top: 40px;
  width: 23%;
}


.formulario {
  align-items: center;
  align-content: center;
}

.pp_ {
  margin-top: 70px;
  margin-left: 575px;
  font-size: 25px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: bold;
  color: #1D1D1B;
}
#form {
  margin-top: -100px;
  margin-left: 275px;
}

#name {
  margin-top: 60px;
  margin-left: -105px;
  width: 501px;
  height: 60px;
  background-color: #E6F7FF;
  border: 4px solid #E6F7FF;
  outline: none;
}

#name::placeholder {
  color: #000000;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}



#empresa {
  margin-top: 60px;
  margin-left: 40px;
  width: 501px;
  height: 60px;
  background-color: #E6F7FF;
  border: 4px solid #E6F7FF;
  outline: none;
}

#empresa::placeholder {
  color: #000000;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

#email {
  margin-top: 10px;
  margin-left: -105px;
  width: 501px;
  height: 60px;
  background-color: #E6F7FF;
  border: 4px solid #E6F7FF;
  outline: none;
}

#email::placeholder {
  color: #000000;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

#telefono {
  margin-top: 10px;
  margin-left: 40px;
  width: 501px;
  height: 60px;
  background-color: #E6F7FF;
  border: 4px solid #E6F7FF;
  outline: none;
}

#telefono::placeholder {
  color: #000000;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

#message {
  margin-left: -105px;
  margin-top: 10px;
  background-color: #E6F7FF;
  border: 4px solid #E6F7FF;
}

#message::placeholder {
  color: #000000;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.btn-primary-full {
  background-color: #FF80CC;
  width: 145px;
  height: 66px;
  border: 1px solid #FF80CC;
  outline: none;
  margin-left: 810px;
  margin-top: 10px;

}
.contact-content {
  margin-top: 100px;
}
#trucazo {
  opacity: 0;
}

.footer_all {
  width: 1348px;
  height: 199px;
  left: 0px;
  margin-top: 100px;
  background: #d0ebfc;
}
/* Contenedor Footer - Container Texto footer*/
.container__footer_text {
  position: relative;
  width: 100%;
  height: 100%;
}
/* Contenedor Footer - Texto footer*/
.footer_text {
  position: absolute;
  width: 370px;
  height: 15px;
  left: 73px;
  top: -60px;

  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #1D1D1B;
}
/* Contenedor Footer - Icono instagram*/
.icon-ig {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1201px;
  top: -70px;
}
/* Contenedor Footer - Icono Linkend*/
.icon-lk {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1239px;
  top: -70px;
}

.siguenos {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1090px;
  top: -109px;
}

.politicas {
  align-content: center;
}

.enviaruwu {
  position: absolute;
  left: 170px;
}

.politicas_link {
  position: absolute;
  left: 440px;
  color: #3ecaed;
}