*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

body {
  font-family: "Metropolis";
  overflow-x: hidden;
}
/* Menus (Blog, Nosotros, home, etc) */
.menu {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Logo */
.logo {
  font-size: 35px;
  font-weight: bold;
  color: rgb(10, 10, 10);
  padding: 0 80px;
}
/* Menu de navegacion */
.menu-items {
  display: flex;
  list-style: none;
  margin-right: 20px;
}
/* Item de menu */
.menu-items li {
  border-radius: 10px;
  margin: 0 5px;
}
/* Item de menu nombres (Home, blog, etc) */
.menu-items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: #1d1d1b;
  position: relative;
}
/* Items de menu despues de pasar el cursor */
.menu-items li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.1rem;
  background: #ff80cc;
  transition: 0.5s;
}

.menu-items li:hover a {
  color: #3ecaed;
}

.menu-items li:hover a::before {
  width: 100%;
}

.menu-items li:hover a::after {
  width: 100%;
}

/* Botones */
.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: #3ecaed;
  cursor: pointer;
  display: none;
}
/* Como se vera el menu */
ul.show {
  top: 65px;
}


/* Contenido */
.text_encabezado {
  position: absolute;
  font-family: "Metropolis";
  font-size: 30px;
  width: 500px;
  font-style: normal;
  font-weight: bold;

  left: 100px;
  top: 100px;
}

.pp_text_encabezado {
  position: absolute;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 640px;

  top: 250px;
  left: 150px;
  color: #575756;
}

.pp2_text_encabezado {
  position: absolute;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 640px;

  top: 370px;
  left: 150px;
  color: #575756;
}

.img1 {
  position: absolute;
  top: 550px;
  left: 100px;
}

.text1 {
  position: absolute;
  top: 810px;
  left: 100px;

  font-family: "Metropolis";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;

}

.text_pp_dea1{
  position: absolute;
  font-size: 20px;
  line-height: 23px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;

  width: 315px;
  top: 850px;
  left: 100px;
  color: #575756;
}


.img2 {
  position: absolute;
  top: 550px;
  left: 500px;
}

.text2 {
  position: absolute;
  top: 810px;
  left: 500px;

  font-family: "Metropolis";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.text_pp_dea2 {
  position: absolute;
  font-size: 20px;
  line-height: 23px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;

  width: 315px;
  top: 850px;
  left: 500px;
  color: #575756;
}

.img3 {
  position: absolute;
  top: 550px;
  left: 900px;
}

.text3 {
  position: absolute;
  top: 810px;
  left: 900px;

  font-family: "Metropolis";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.text_pp_dea3 {
  position: absolute;
  font-size: 20px;
  line-height: 23px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;

  width: 315px;
  top: 850px;
  left: 900px;
  color: #575756;
}

.acordeon {
  position: absolute;
  top: 1100px;
  left: 600px;
}

.summay1 {
  list-style: none;
}

.summay1::before {
  content: "+";
  padding-right: 1rem;
  color: #FF80CC;
}

.detalles[open] .summay1::before {
  content: "-";
  color: #47AAF4;
}

